[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

log_error = /var/log/mysql/error.log
slow_query_log_file = /var/log/mysql/slow-query.log
slow_query_log = ON
long_query_time = 0.0
log_output = FILE
# general_log = OFF 計測が終わったら上記をコメントアウトしこの行を追加

skip-log-bin
